<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/"> KLA STUDY </a>
  </div>

  <div id="navbar-menu" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/"> Home </a>

      <a class="navbar-item" href="#"> Ranking (개발중) </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="#"> About (개발중) </a>
      </div>
    </div>
  </div>
</nav>
